<div class="container">
  <img class="bg " src="../src/app/images/fundo/home-2.jpg" alt="Imagen de Fundo" />

  <h1 class="center">Seja Generoso!</h1>
  <div class="col m12">
    <br>
    <br>
  </div>
  <div class="row">
    <div class="col m12">
      <div class="col m5 s12">
        <div class="center">
          <span class="font-presentes">Casa dos Sonhos</span> <br>
          <i class="icon-presentes large material-icons white-text" style="text-shadow: 3px 5px #cccccc;">favorite</i>
        </div>
      </div>
      <div class="col m2"></div>
      <div class="col m5 s12">
        <div class="center">
          <span class="font-presentes">Viagens dos Sonhos</span> <br>
          <i class="icon-presentes large material-icons white-text">airplanemode_active</i>
        </div>
      </div>
    </div>
  </div>
</div>