<div class="bg-image"></div>
<div class="shadow-form"></div>

<div class="aparece">

  <h2 class="center titulo-contato">• CONTATO •</h2>
  <div class="contato-resposta center">Deixe sua mensagem. Responderemos em breve</div>

  <div class="container">
    <!-- Nome do Convidado -->
    <div class="row">
      <div class="input-field col s12 offset-m3 m6">
        <input id="nome-convidado" required [(ngModel)]="contatoEmTela.nome" type="text" name="nome-convidado">
        <label for="nome-convidado">Nome *</label>
      </div>
    </div>
    <!-- Email Convidado -->
    <div class="row">
      <div class="input-field col s12 offset-m3 m6">
        <input id="email-convidado" required [(ngModel)]="contatoEmTela.email" type="text" name="email-convidado">
        <label for="email-convidado">Email *</label>
      </div>
    </div>
    <!-- Assunto -->
    <div class="row">
      <div class="input-field col s12 offset-m3 m6">
        <input id="assunto" [(ngModel)]="contatoEmTela.assunto" type="text" name="assunto">
        <label for="assunto">Assunto</label>
      </div>
    </div>
    <!-- Mensagem -->
    <div class="row">
      <div class="input-field col s12 offset-m3 m6">
        <textarea id="mensagem" required [(ngModel)]="contatoEmTela.mensagem" rows="5" name="mensagem"
          class="materialize-textarea"> </textarea>
        <label for="mensagem">Mensagem *</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 offset-m3 m6">
        <div class="right">
          <a class="waves-effect waves-light btn" (click)="clickEnviaContato()">Enviar</a>
        </div>
      </div>
    </div>
  </div>

</div>