<div class="bg-image"></div>
<div class="shadow-form"></div>

<div class="container">
  <div class="col m12">
    <br>
    <br>
  </div>
  <!-- Nome do Convidado -->
  <div class="row">
    <div class="input-field col s12 offset-m3 m6">
      <input id="nome-convidado" [(ngModel)]="contatoEmTela.nome" type="text" name="nome-convidado">
      <label for="nome-convidado">Nome</label>
    </div>
  </div>
  <!-- Email Convidado -->
  <div class="row">
    <div class="input-field col s12 offset-m3 m6">
      <input id="email-convidado" [(ngModel)]="contatoEmTela.email" type="text" name="email-convidado">
      <label for="email-convidado">Email</label>
    </div>
  </div>
  <!-- Assunto -->
  <div class="row">
    <div class="input-field col s12 offset-m3 m6">
      <input id="assunto" [(ngModel)]="contatoEmTela.assunto" type="text" name="assunto">
      <label for="assunto">Assunto</label>
    </div>
  </div>
  <!-- Mensagem -->
  <div class="row">
    <div class="input-field col s12 offset-m3 m6">
      <textarea id="mensagem" [(ngModel)]="contatoEmTela.mensagem"  rows="5" name="mensagem" class="materialize-textarea"> </textarea>
      <label for="mensagem">Mensagem</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 offset-m3 m6">
      <div class="right">
        <a class="waves-effect waves-light btn" (click)="clickEnviaContato()">Enviar</a>
      </div>
    </div>
  </div>

</div>