<footer class="page-footer bkg-azul-logo">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Fael Mila</h5>
                <p class="grey-text text-lighten-4">O site mais bacana de casamento que tem.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Siga-nos nas redes:</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link Facebook</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link Twitter</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bkg-azul-e-logo">
        <div class="container center-align ">
            © 2019 Fael e Mila Copyright
        </div>
    </div>
</footer>