<div class="fundo"></div>

<div class="aparece">

  <div class="container">
    <br>
    <div class="center titulo-galeria">• GALERIA DE FOTOS •</div>
    <br>

    <div class="imglist">

      <div class="row">
        <div class="class col s12 m4 center foto-indiv ">
          <a class="" href="../src/app/images/galeria/normal/4.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/4.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv ">
          <a href="../src/app/images/galeria/normal/2.jpg " data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/2.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/3.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/3.jpg">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/5.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/5.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/7.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/7.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/8.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/8.jpg">
          </a>
        </div>

      </div>


      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/9.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/9.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/10.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/10.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/11.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/11.jpg">
          </a>
        </div>

      </div>

      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/12.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/12.jpg">
          </a>
        </div>
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/13.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/13.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/14.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/14.jpg">
          </a>
        </div>

      </div>

      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/15.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/15.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/16.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/16.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/17.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/17.jpg">
          </a>
        </div>

      </div>

      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/18.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/18.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/19.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/19.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/20.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/20.jpg">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/22.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/22.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/23.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/23.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/40.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/40.jpg">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/24.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/24.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/25.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/25.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/26.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/26.jpg">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/44.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/44.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/46.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/46.jpg">
          </a>
        </div>


        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/35.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/35.jpg">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="class col s12 m6 center foto-indiv">
          <a href="../src/app/images/galeria/normal/36.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/36.jpg">
          </a>
        </div>

        <div class="class col s12 m6 center foto-indiv">
          <a href="../src/app/images/galeria/normal/33.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/33.jpg">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/27.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/27.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/28.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/28.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/29.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/29.jpg">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/30.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/30.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/21.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/21.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/31.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/31.jpg">
          </a>
        </div>
      </div>





      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/37.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/37.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/38.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/38.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/34.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/34.jpg">
          </a>
        </div>
      </div>


      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/39.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/39.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/41.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/41.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/32.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/32.jpg">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/42.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/42.jpg">
          </a>
        </div>

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/43.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/43.jpg">
          </a>
        </div>


        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/0.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/0.jpg">
          </a>
        </div>
      </div>

      <div class="row">

        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/6.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/6.jpg">
          </a>
        </div>
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/1.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/1.jpg">
          </a>
        </div>
        <div class="class col s12 m4 center foto-indiv">
          <a href="../src/app/images/galeria/normal/21.jpg" data-fancybox="images">
            <img src="../src/app/images/galeria/pequenas/21.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>