<div class="container">
  <h2 class="center">Galeria de fotos</h2>

  <div class="imglist">
    <a href="/src/app/images/galeria/normal/1.jpg" data-fancybox="images">
      <img src="/src/app/images/galeria/pequenas/1.jpg">
    </a>

    <a href="/src/app/images/galeria/normal/2.jpg" data-fancybox="images">
      <img src="src/app/images/galeria/pequenas/2.jpg">
    </a>

    <a href="/app/src/app/images/galeria/normal/3.jpg" data-fancybox="images">
      <img src="/app/src/app/images/galeria/pequenas/3.jpg">
    </a>

    <a href="app/src/app/images/galeria/normal/4.jpg" data-fancybox="images">
      <img src="app/src/app/images/galeria/pequenas/4.jpg">
    </a>

    <a href="app/images/galeria/normal/5.jpg" data-fancybox="images">
      <img src="app/images/galeria/pequenas/5.jpg">
    </a>

    <a href="/app/images/galeria/normal/6.jpg" data-fancybox="images">
      <img src="/app/images/galeria/pequenas/6.jpg">
    </a>

    <a href="/src/app/images/galeria/normal/7.jpg" data-fancybox="images">
      <img src="/src/app/images/galeria/pequenas/7.jpg">
    </a>

    <a href="/src/app/images/galeria/normal/8.jpg" data-fancybox="images">
      <img src="src/app/images/galeria/pequenas/8.jpg">
    </a>
  </div>
</div>