<!-- Side-Bar para Mobile -->
<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            <div class="background blue">
            </div>
        </div>
    </li>
    <li><a href="#" title="">Bem Vindos</a></li>
    <li><a href="#" title="">Confirmar Presença</a></li>
    <li><a href="#" title="">Presentes</a></li>
    <li><a href="#" title="">Galeria</a></li>
    <li><a href="#" title="">Casameto</a></li>
    <li><a href="#" title="">Contato</a></li>
</ul>

<!-- Nav-bar para telas grandes. -->

<div class="navbar-fixed">
    <nav class="grey darken-4 navbar-web transparent">
        <div class="container">
            <!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">Menu</i></a> -->
            <div class="nav-wrapper">
                <ul id="nav-web" class="left hide-on-med-and-down">
                    <li id="home"><a (click)="clickToolbar($event)" routerLink="/home" title="">Bem Vindos</a></li>
                    <li id="confirmar"><a (click)="clickToolbar($event)" routerLink="/confirmar" title="">Confirmar Presença</a></li>
                    <li id="presentes"><a (click)="clickToolbar($event)" routerLink="/presentes" title="">Lista de Presentes</a></li>
                    <li id="fotos"><a (click)="clickToolbar($event)" routerLink="/fotos" title="">Galeria</a></li>
                    <li id="casamento"><a (click)="clickToolbar($event)" routerLink="/casamento" title="">Casameto</a></li>
                    <li id="contato"><a (click)="clickToolbar($event)" routerLink="/contato" title="">Contato</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>