nav ul a {
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
} 

.navbar-web {
    background-color: rgba(13, 13, 13, .7);
}

.navbar-web li:hover, .pag-ativa{
    background-color: rgba(0, 150, 150, .7) !important;
}

.progress {
    visibility: hidden;
}