.navbar-web {
    background-color: rgba(13, 13, 13, .7) !important;
}

.navbar-web li:hover{
    background-color: rgba(0, 150, 150, .7) !important;
}

.rota-clicada {
    background-color: rgba(0, 150, 150, .7) !important;
}
