<div class="bg-image"></div>
<div class="ver-fundo right" (click)="mostraImagemFundo()"> <i class="material-icons"> photo </i> </div>
<div class="shadow-form"> </div>

<div class="aparece">
  <div hidden class="container lista-presentes">
      <h2 class="center titulo-confirma">• Lista de Presentes •</h2>
      <table class="highlight responsive-table _striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data</th>
            <th>Qtd. Adultos</th>
            <th>Qtd. Crianças</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  </div>

  <div class="container confirma-presenca">
    <div class="campos-obrigatorio">* Campos obrigatórios</div>
    <h2 class="center titulo-confirma">• CONFIRME SUA PRESENÇA •</h2>

    <div class="col m12">
      <br>
      <br>
    </div>

    <!-- Nome do Convidado -->
    <div class="row">
      <div class="input-field col s12 offset-m3 m6">
        <input class="validate" [(ngModel)]="confirmaPresenca.nome" id="nome-convidado" type="text" name="nome-convidado">
        <span class="helper-text" data-error="Preencha nome e sobrenome, por favor." data-success=""></span>
        <label for="nome-convidado">Nome e Sobrenome *</label>
      </div>
    </div>
    
    <!-- Quantidade de Adultos -->
    <div class="row">
      <div class="input-field col s12 offset-m3 m6">
        <input class="validate" [(ngModel)]="confirmaPresenca.quantidadeAdultos" min="0" id="qtd-adultos" type="number" name="qtd-adultos">
        <span class="helper-text" data-error="Opa, preencha pra gente! ;)" data-success=""></span>        
        <label for="qtd-adultos">Quantidade de Adultos *</label>
      </div>
    </div>
    
    <!-- Quantidade de crianças -->
    <div class="row">
      <div class="input-field col s12 offset-m3 m6">
        <input class="validate" [(ngModel)]="confirmaPresenca.quantidadeCrianca"  min="-1" id="qtd-criancas" type="number" name="qtd-criancas">
        <span class="helper-text" data-error="Crianças com 7 anos ou menos. Opa, preencha pra gente! ;)" data-success="">Crianças com 7 anos ou menos.</span>        
        <label for="qtd-criancas">Quantidade de Crianças *</label>
      </div>
    </div>

    <!-- Confirmar Presença -->
    <div class="row">
      <div class="input-field col s12 offset-m3 m6">
        <div class="right">
          <a (click)="clickConfirmaPresenca()" class="waves-effect waves-light btn">Enviar</a>
        </div>
      </div>
    </div>

  </div>
</div>