.bg-image {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    z-index: -1;
    
    /* Local da imagem */
    background-image: url("../images/fundo_p/ConfirmarPresenca.jpg");
    
    /* Centraliza o Background */
    background-position: center center;
    
    /* Sem repetição */
    background-repeat: no-repeat;
    
    /* Fixa a imagem pra não mover se a altura da tela for maio que a imagem */
    background-attachment: fixed;
    
    /* Redimensiona a imagem de acordo com a tela */
    background-size: cover;
    
    /* Cor de fundo ao carregar */
    background-color:  gainsboro;
}

@media (min-width: 1280px) {
    .bg-image {
        background-image: url("../images/fundo_m/ConfirmarPresenca.jpg");
    }
}

@media (min-width: 1900px) {
    .bg-image {
        background-image: url("../images/fundo/ConfirmarPresenca.jpg");
    }
}

.lista-presentes th {
    /* font-family: 'Cabin Sketch', cursive;      */
    font-family: 'Amatic SC', cursive;    
    font-size: 150%;
    color: white;
}

.lista-presentes td {
    font-family: 'Amatic SC', cursive;    
    color: white;
}

table._striped > tbody > tr:nth-child(2n+1) {
    background-color: rgba(242, 242, 242, 0.7);
}

.lista-presentes {
    padding: 1% 1% 1% 1%;
}

@media (min-width: 850px) {
    .lista-presentes {
        width: 60%;
    }
}

.titulo-confirma {
    font-size: 300%;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family: 'Cabin Sketch', cursive;    
}

.campos-obrigatorio {
    position: absolute;
    color: rgb(159,159,159);
    font-size: 80%;
    bottom: 1%;
    left: 21%;
}