.no-margin {
    padding: 0 0 0 0;
}

    .no-margin-top    { margin-top: 0 !important;}
    .no-margin-bottom { margin-bottom: 0 !important; }
    .no-margin-right  { margin-right: 0 !important; }
    .no-margin-left   { margin-left: 0 !important; }

.no-padding {
    padding: 0 0 0 0;
}

    .no-padding-top    { padding-top: 0 !important;}
    .no-padding-bottom { padding-bottom: 0 !important; }
    .no-padding-right  { padding-right: 0 !important; }
    .no-padding-left   { padding-left: 0 !important; }

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

    .font-presentes {
        font-family: 'Dancing Script', cursive;
        font-size: 3em;
    }