
.active {
    background-color: none;
}

.no-margin {
    padding: 0 0 0 0;
}

    .no-margin-top    { margin-top: 0 !important;}
    .no-margin-bottom { margin-bottom: 0 !important; }
    .no-margin-right  { margin-right: 0 !important; }
    .no-margin-left   { margin-left: 0 !important; }

.no-padding {
    padding: 0 0 0 0;
}

    .no-padding-top    { padding-top: 0 !important;}
    .no-padding-bottom { padding-bottom: 0 !important; }
    .no-padding-right  { padding-right: 0 !important; }
    .no-padding-left   { padding-left: 0 !important; }
    
.ver-fundo {
    cursor: pointer;
    color: rgb(13,13,13, 0.7);
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

    .font-presentes {
        font-family: 'Dancing Script', cursive;
        font-size: 3em;
    }

    .shadow-form {
        background-color: rgba(75, 75, 75, .8) !important;
        position: absolute;
        left: 20%;
        width: 60%;
        height: 100%;
        z-index: -1;
        -webkit-animation: aparece-shadow-form 2s;
        animation: aparece-shadow-form 2s;
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: backwards;
        animation-fill-mode: backwards;        
    }  
    
    .campos-obrigatorio {
        position: absolute;
        color: rgb(159,159,159);
        font-size: 80%;
        bottom: 1%;
        left: 21%;
    }

 
    @media (max-width: 850px) {
        .shadow-form {
            width: 100%;
            left: 0;
        }
    }

    
    @media (max-width: 600px) {
        .shadow-form {
            width: 100%;
            left: 0;
        }

        .campos-obrigatorio {
            left: 4%;
        }
    }

    .aparece {
        -webkit-animation: aparece-shadow-form 2s;
        animation: aparece-shadow-form 2s;        
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
        -webkit-animation-fill-mode: backwards;
        animation-fill-mode: backwards;
    }

    @-webkit-keyframes aparece-shadow-form {
        from {
            opacity: 0;
        }
    }    
    
    @keyframes aparece-shadow-form {
        from {
            opacity: 0;
        }
    } 

    .input-field input[type=text]:focus, 
    .input-field input[type=number]:focus, 
    .input-field input[type=text]:focus,
    .input-field textarea:focus {
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 0 0 #fff;
        color: white;
    }
    
    /* .input-field span.helper-text:focus {
        color: white;
    } */
    
    input, textarea, 
    .input-field label, 
    .input-field span.helper-text,
    .input-field .input,
    .input-field .prefix.active
    {
        color: rgb(159,159,159);
    }

    textarea.materialize-textarea{ 
        height: 2rem; 
    }

    /* Valido */
    .input-field .valid
    {
        /* border-bottom: 1px solid rgb(33, 150, 243) !important;
        box-shadow: 0 1px 0 0 rgb(33, 150, 243)  !important; */
        border-bottom: 1px solid rgb(42, 181, 168) !important;
        box-shadow: 0 1px 0 0 rgb(42, 181, 168) !important;
    }
    
    /* Invalido */
    .input-field .invalid 
    {
        border-bottom: 1px solid  rgb(239, 83, 80);
        box-shadow: 0 1px 0 0  rgb(239, 83, 80);
    }

    .tabs .indicator {
        background-color: rgba(0, 150, 150) !important;
    }

    .tabs .tab a.active {
        background-color: rgba(13, 13, 13, .1W1) !important;
    }

    .tab, a.active {
        color: rgba(0, 150, 150, .7) !important;
    }