.bg-image {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    z-index: -1;
    
    /* Local da imagem */
    background-image: url("../images/fundo/home.jpg");

    /* Centraliza o Background */
    background-position: center center;

    /* Sem repetição */
    background-repeat: no-repeat;
    
    /* Fixa a imagem pra não mover se a altura da tela for maio que a imagem */
    background-attachment: fixed;

    /* Redimensiona a imagem de acordo com a tela */
    background-size: cover;

    /* Cor de fundo ao carregar */
    background-color:  gainsboro;
}

.texto-home {
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 700%;
    font-family: 'Dancing Script', cursive;
    top: 15%;
}

@media (min-width: 500px) {
    .texto-home {
        /* position: fixed; */
        text-align: center;
        top: 15%;
        font-size: 500%;
    }
}

@media (min-width: 600px) {
    .texto-home {
        text-align: center;
        font-size: 600%;
    }
}

@media (min-width: 700px) {
    .texto-home {
        text-align: center;
        font-size: 650%;
    }
} 

@media (min-width: 800px) {
    .texto-home {
        font-size: 700%;
    }
}


.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.txt-faltam-dias {
    position: absolute;
    bottom: 15%;
    left: 50%;
    color: white;
    font-size: 3em;
    text-shadow: 3px 3px 3px black;
    font-family: 'Dancing Script', cursive;
    transform: translate(-50%, -50%);    
}

