.bg-image {
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    z-index: -1;
    
    /* Local da imagem */
    background-image: url("../images/fundo_p/home.jpg");

    /* Centraliza o Background */
    background-position: center center;

    /* Sem repetição */
    background-repeat: no-repeat;
    
    /* Fixa a imagem pra não mover se a altura da tela for maio que a imagem */
    background-attachment: fixed;

    /* Redimensiona a imagem de acordo com a tela */
    background-size: cover;

    /* Cor de fundo ao carregar */
    background-color:  gainsboro;
}


@media (min-width: 1280px) {
    .bg-image {
        background-image: url("../images/fundo_m/home.jpg");
    }
}

@media (min-width: 1900px) {
    .bg-image {
        background-image: url("../images/fundo/home.jpg");
    }
}

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.texto-home {
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 325%;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    top: 15%;
}

.txt-faltam-dias {
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: white;
    font-size: 3em;
    text-shadow: 3px 3px 3px black;
    font-family: 'Dancing Script', cursive;
    transform: translate(-50%, -50%);    
    font-size: 200%;
}


@media (min-width: 370) {
    .texto-home {
        font-size: 375%;
    }
    .txt-faltam-dias {
        font-size: 225%;
    }
}

@media (min-width: 500px) {
    .texto-home {
        font-size: 500%;
    }
    .txt-faltam-dias {
        font-size: 235%;
    }
}

@media (min-width: 600px) {
    .texto-home {
        font-size: 600%;
    }
    .txt-faltam-dias {
        font-size: 275%;
    }    
}

@media (min-width: 700px) {
    .texto-home {
        font-size: 650%;
    }
    .txt-faltam-dias {
        font-size: 300%;
    }    
} 

@media (min-width: 800px) {
    .texto-home {
        font-size: 700%;
    }
    .txt-faltam-dias {
        font-size: 350%;
    }       
}


