.bg-image {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    z-index: -1;
    
    /* Local da imagem */
    background-image: url("../images/fundo/casamento.jpg");

    /* Centraliza o Background */
    background-position: center center;

    /* Sem repetição */
    background-repeat: no-repeat;
    
    /* Fixa a imagem pra não mover se a altura da tela for maio que a imagem */
    background-attachment: fixed;

    /* Redimensiona a imagem de acordo com a tela */
    background-size: cover;

    /* Cor de fundo ao carregar */
    background-color:  gainsboro;
}

.centro {
    align-content: center !important;
    box-align:center !important;
    text-align: center !important;
}

.posicao {
    text-align: center !important;
}

.titulo {
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family: 'Cabin Sketch', cursive;    
    z-index: 1;
    font-size: 250%;
    letter-spacing: 5px !important;
}


.font-casamentos {
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family: 'Amatic SC', cursive;
    font-size: 200%;
}

.convite-individual {
    margin-top: 10em;
    color: white;
    font-size: 140%;
    font-family: 'Amatic SC', cursive;
}


.iframe-responsivo {
    position: relative;
    overflow: hidden;    
    padding-top: 70%;
    width: 600; 
    height: 400;
}

#gmap_canvas {
    padding-left: 20%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;    
    width: 80%;
    height: 80%;
}

@media (min-width: 500px) {
    .titulo {
        font-size: 275%;
        letter-spacing: 7px !important;
    }

    .convite-individual {
        font-size: 155%;
    }    

    .font-casamentos {
        font-size: 225%;
    }    
}

@media (min-width: 600px) {
    .titulo {
        font-size: 350%;
        letter-spacing: 10px !important;
    }

    .convite-individual {
        font-size: 170%;
    }    

    .font-casamentos {
        font-size: 250%;
    }        
}


