<div class="container">
  <img class="bg" src="../src/app/images/fundo/casamento.jpg" alt="Imagen de Fundo" />

  <div class="row">
    <div class="center">
      <span class="font-casamentos font-size-5">Espaço Ellas</span>
    </div>
  </div>

  <div class="row">
    <div class="col m12 center">
      <span class="font-casamentos font-size-3">
        Rua Manhuaçu, 31, Marimbá, Betim
        <br>
        16:30
      </span>
    </div>
  </div>

  <div class="row">
    <div class="center">

      <!-- <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=London&amp;ie=UTF8&amp;&amp;output=embed"></iframe><br /> -->
      <!-- <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/place/R.+Manhua%C3%A7u,+31+-+Marimb%C3%A1,+Betim+-+MG,+32623-158/@-19.9268801,-44.2763421,15.75z/data=!4m5!3m4!1s0xa6dce65b0fc163:0xe88cf5bb396050b6!8m2!3d-19.9278216!4d-44.2700019"></iframe><br /> -->

    </div>
  </div>

</div>