<div class="bg-image"></div>

<div class="aparece">
  <div class="shadow-form"> </div>

  <br />
  <div class="center titulo">
    • CERIMÔNIA •
  </div>

  <div class="container posicao">
    <br />
    <br />
    <div class="col m12 center">
      <strong>
        <span class="font-casamentos">
          Sábado • 28 de setembro de 2019 • 16:00
          <br>
          Espaço Elass • Rua Manhuaçu, 31, Marimbá, Betim
          <br>
        </span>
      </strong>
      <span class="convite-individual">
        <br />
        Indispensável a apresentação do convite individual
        <br />
      </span>
    </div>

    <br />
    <br />

    <div class=" col m12 centro">
      <iframe width="500" height="400" id="gmap_canvas"
        src="https://maps.google.com/maps?q=Espa%C3%A7o%20Elass&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0"
        scrolling="no" marginheight="0" marginwidth="0">
      </iframe>
    </div>

  </div>
</div>