.posicao {
    position: absolute;
    left: 15%;
    top: 45%;
}

.font-casamentos {
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family: 'Dancing Script', cursive;
}

.font-size-3 {
    font-size: 3em;
}

.font-size-5 {
    font-size: 5em;
}

.font-size-4 {
    font-size: 4em;
}
